:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bj-color: #ffffff;
  --bj-hero: #2f303a;
  --bj-about: #e5e5e5;
  --bj-team: #f5f4fa;
  --social-icon: #afb1b8;
  --social-icon-hover: #ffffff;
  --iteam: 3;
  --indent: 30px;
  --time-transformatiom: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --basic-font-roboto: "Roboto", sans-serif;
  --basic-fort-relway: "Raleway", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: var(--basic-font-roboto);
  justify-content: center;
  align-items: baseline;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  background-color: var(--bj-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  text-decoration: none;
}

.logo__web {
  font-family: var(--basic-fort-relway);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio {
  font-family: var(--basic-fort-relway);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.link,
.mail,
.tell {
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.accent {
  color: var(--accent-color);
}

.nav__list__link {
  display: flex;
  position: relative;
  align-items: baseline;
}

.nav__list__link:not(:last-child) {
  margin-right: 50px;
}

.nav__list__link:hover {
  color: var(--accent-color);
}

.nav__list__link:hover .nav__list__icon__mail {
  fill: var(--accent-color);
}

.nav__list__link:hover .nav__list__icon__phone {
  fill: var(--accent-color);
}

.nav__list__link .accent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.nav__list__link .link:focus, .nav__list__link .link:hover {
  color: var(--accent-color);
}

.mail,
.tell {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav__list__icon__mail {
  width: 16px;
  height: 12px;
  fill: var(--social-icon);
  padding: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav__list__icon__phone {
  width: 10px;
  height: 16px;
  fill: var(--social-icon);
  padding: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav__list .link {
  display: block;
  align-items: center;
  justify-content: baseline;
}

.header__registration {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__list__link .mail:hover, .nav__list__link .mail:focus {
  color: var(--accent-color);
}

.nav__list__link .tell:hover, .nav__list__link .tell:focus {
  color: var(--accent-color);
}

footer {
  background-color: var(--bj-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.logo__web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--bj-color);
}

address {
  margin-top: 20px;
}

.footer__list {
  text-decoration: none;
}

.footer__list__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bj-color);
}

.footer__list__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer__list__mail:hover, .footer__list__mail:focus {
  color: var(--accent-color);
}

.footer__list__tell {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer__list__tell:hover, .footer__list__tell:focus {
  color: var(--accent-color);
}

.social__contacts {
  width: 206px;
  height: 80px;
  align-items: center;
  margin-left: 70px;
}

.tittle__action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--social-icon-hover);
}

.footer__social__icons {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer__social__list {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer__social__list:not(:last-child) {
  margin-right: 10px;
}

.footer__social__list:hover, .footer__social__list:focus {
  background-color: var(--accent-color);
}

.footer__social__list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-hover);
}

.subscribe {
  position: relative;
  width: 570px;
  margin-left: auto;
  margin-right: 0;
}

.form__input__mail {
  display: flex;
  flex-direction: column;
}

.form__input__mail input {
  margin-top: 20px;
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--bj-hero);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input__mail input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input__mail label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bj-color);
}

.button__subscribe {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--bj-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button__subscribe::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  fill: var(--bj-color);
  background-size: contain;
  margin-left: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 210px;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-team.jpg);
  background-color: var(--bj-hero);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--bj-color);
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--bj-color);
}

.hero__button:hover, .hero__button:focus {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--bj-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__close {
  position: fixed;
  display: inline-block;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.button__close:hover,
.button__close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.close__btn__svg {
  position: absolute;
  top: -17%;
  left: -20%;
  width: 18px;
  height: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.modal__form {
  margin-top: 12px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
  outline: none;
}

.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal__input:hover .modal__icon, .modal__input:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__label__text {
  margin-bottom: 4px;
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  width: 13px;
  height: 13px;
  bottom: 14px;
  left: 15px;
  fill: var(--title-text-color);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.modal__input:hover + .modal__icon {
  fill: var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.textarea {
  padding: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  min-height: 120px;
  resize: none;
  outline: none;
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.check__input:checked + .check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.agreement__text,
.agreement__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.agreement__text {
  padding-right: 5px;
}

.registration__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 52px;
  border: none;
  padding: 10px;
  background-color: var(--accent-color);
  text-align: center;
  color: var(--bj-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, cursor;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
  margin-top: 30px;
}

.registration__btn:hover, .registration__btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.specifics {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specifics__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.specifics__section::before {
  display: block;
  content: "";
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.specifics__section:nth-child(1)::before {
  background-image: url(../images/antenna-1.svg);
  background-size: 66px 70px;
}

.specifics__section:nth-child(2)::before {
  background-image: url(../images/clock-1.svg);
  background-size: 66px 70px;
}

.specifics__section:nth-child(3)::before {
  background-image: url(../images/diagram-1.svg);
  background-size: 66px 70px;
}

.specifics__section:nth-child(4)::before {
  background-image: url(../images/astronaut-1.svg);
  background-size: 66px 70px;
}

.specifics__section:not(:last-child) {
  margin-right: 30px;
}

.specifics__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.specifics__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.works {
  padding-bottom: 94px;
}

.works__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.works__list {
  display: flex;
  margin-top: 50px;
}

.works__img {
  max-width: 370px;
}

.works__iteams {
  position: relative;
}

.works__iteams:not(:first-child) {
  margin-left: 30px;
}

.works__item__about {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}

.works__iteam__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bj-color);
}

.team {
  background-color: var(--bj-team);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__list {
  display: flex;
  margin-top: 50px;
}

.team__list__person-card {
  box-sizing: border-box;
  width: 270px;
  height: auto;
  background-color: var(--bj-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__list__person-card:not(:last-child) {
  margin-right: 30px;
}

.team__list__person-card__text {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__list__person-card__text__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 0px;
}

.team__list__person-card__text__position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
}

.team__social {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: auto;
  margin-left: auto;
  padding: 0;
}

.social__list {
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.social__list:not(:last-child) {
  margin-right: 10px;
}

.social__list__iteam {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.social__list__iteam:hover {
  background-color: var(--accent-color);
}

.social__list__iteam:hover .social__list__icon {
  fill: var(--social-icon-hover);
}

.social__list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients__list__iteam:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.client__icon {
  display: inline-flex;
  width: 106px;
  height: 60px;
  fill: var(--social-icon);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-iteams:not(:last-child) {
  margin-right: 8px;
}

.nav-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--bj-team);
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav-button:hover, .nav-button:focus {
  cursor: pointer;
  color: var(--bj-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project {
  background-color: var(--bj-color);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  transition-property: box-shadow;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.project:nth-child(3n) {
  margin-right: 0px;
}

.project:nth-child(n + 7) {
  margin-bottom: 0px;
}

.project:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:hover .project-overlay {
  transform: translateY(-100%);
  opacity: 1;
}

.project-img-box {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--bj-about);
  padding-left: 24px;
  padding-right: 24px;
}

.project-text {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-about {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */