footer {
  background-color: var(--bj-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.logo__web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--bj-color);
}

address {
  margin-top: 20px;
}

.footer__list {
  text-decoration: none;
}

.footer__list__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bj-color);
}

.footer__list__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__list__tell {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social__contacts {
  width: 206px;
  height: 80px;
  align-items: center;
  margin-left: 70px;
}

.tittle__action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--social-icon-hover);
}

.footer__social__icons {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer__social__list {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer__social__list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-hover);
}

.subscribe {
  position: relative;
  width: 570px;
  margin-left: auto;
  margin-right: 0;
}

.form__input__mail {
  display: flex;
  flex-direction: column;
}

.form__input__mail input {
  margin-top: 20px;
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--bj-hero);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form__input__mail label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bj-color);
}

.button__subscribe {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--bj-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    fill: var(--bj-color);
    background-size: contain;
    margin-left: 10px;
  }
}
