.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon-hero/bg-team.jpg);
  background-color: var(--bj-hero);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 480px) {
    background-image: url(../../images/mob/Header480.jpg);
    background-size: cover;
    height: 400px;
    padding-top: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 210px;
  }
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--bj-color);

  @media screen and (max-width: 480px) {
    font-size: 26px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--bj-color);
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
