.works {
  padding-bottom: 94px;
}

.works__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.works__list {
  display: flex;
  margin-top: 50px;
}

.works__img {
  max-width: 370px;
}

.works__iteams {
  position: relative;
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.works__item__about {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}

.works__iteam__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bj-color);
}
