body {
  font-family: var(--basic-font-roboto);
  justify-content: center;
  align-items: baseline;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-bottom: 60px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 480px) {
    padding: 0px;
    margin: 0px;
  }
}

/*
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/
