:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bj-color: #ffffff;
  --bj-hero: #2f303a;
  --bj-about: #e5e5e5;
  --bj-team: #f5f4fa;
  --social-icon: #afb1b8;
  --social-icon-hover: #ffffff;
  --iteam: 3;
  --indent: 30px;
  --time-transformatiom: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --basic-font-roboto: "Roboto", sans-serif;
  --basic-fort-relway: "Raleway", sans-serif;
}
